.body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;

    justify-content: center;
    align-items: center;
    color: white;

}
*{
    margin: 0%;
}
.stars{
    display: flex;
    color: gray;
}
.star{
    font-size: 50px;
    cursor: pointer;
}
.yellow{
    color: yellow;
}